.toolbar{
    background-color: rgb(35, 141, 217)
}

.input1{
     margin-left: 25px;

 }
 .input-1{
     padding-bottom: 3px;
     /*padding-right: 53px;*/
        
 }
 
 .input1::-webkit-input-placeholder{
     
     font-size: 1px;
     padding-left:  16px;
     padding-top: 5px;
     padding-bottom: 0;
     
   }
  /*input[type="text"]{
     font-size: 13px;
     margin-left: 10px;
     padding-top: 5px;
     padding-bottom: 34px;
   }*/
 
.input1 input[type="text"]{
     /*width: 190px;*/
     width: 390px;
     padding-left:  16px;
     padding-top: 5px;
 }
 
 .input2{
     margin-left: 19px;
 }
 .input2 input[type="text"]{
     /*width: 190px;*/
     /*width: 390px;*/
     padding-left:  16px;
     padding-top: 5px;
 }
 
 .search-icon{
    padding-left: 1px;
    padding-top: 4px;
 }
 
 .main-background{
     background-color: rgba(211, 211, 211, 0.25);
     text-align: center;
 }
 
 .coaches{
     padding: 10px;
    padding-left: 36px;
    border: 1px solid blue;
    padding-right: 37px;
    background-color: blue;
    color: white;
    font-size: 12px;
 }
 .clubs{
    padding: 10px;
    padding-left: 36px;
    /*border: 1px solid blue;*/
    padding-right: 37px;
    background-color: white;
    color: black;
        font-size: 12px;

 }
 .cochesClubDiv{
      padding: 34px;
 }
 
 .sorting{
     padding: 10px;
 }
 
 .sortBorder{
     border: 2px solid rgba(128, 128, 128, 0.41);
     padding: 6px;
    font-size: 12px;
     margin-left: 9px;
     background-color: white;
     color: black;
     font-weight: bold;
 }
 .ratedDiv{
     padding: 10px;
     padding-bottom: 63px;
 }
 .mainBoxStarted{
     padding:10px;
 }
 .mainIcon{
     margin:18px;
 }
.mainBoxRating{
    border: 1px solid green;
    background: green;
    color: white;
    padding: 9px;
}
.mainBox{
    background-color: white;
}
.searchBtn{
    background: none;
    border: none;
    color: white;
    padding-left: 8px;
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
}
.green{
    background-color: limegreen !important;
}
.img{
    margin: 5px
}
.font{
    font-size: 21px;
    font-weight: 600;
}
.link{
    color: #48a3da 
}
.button{
    background: rgb(170, 215, 52)
}
span img{
    width: 30px
}
.icon{
    float: right;
}
.crossBtn{
    position: absolute;
    top: -4px;
    right: -6px;
}

.cancelBtn{
    background: none;
    border: none;
    color: grey;
}
.rateCoachBtn{
    width: 32%;
    height: 3%;
    background-color: rgba(71, 177, 37, 0.88);
    color: white;
    border: none;
    font-size: 13px;
}
.ratingValue{
    padding-left: 23px;
    font-size: 56px;
    color: green;   
}
.rating80{
    position: relative;
    top: 76px;
    color: gray;
    padding: 6px;
}
.verticalLine{
    border: 1px solid rgba(128, 128, 128, 0.72);
    position: relative;
    height: 127px;
    top: 27px;
    left: 14px;
    margin-right: 30px
 }
 
 .column60{
     position: relative;
    top: 60px;
    text-align: center;
    font-weight: bold;
 }
 
 .parentsRecomended{
    position: relative;
    top: 33px;
    color: gray;
    text-align: center;
 }
 .chip{
    padding: 7px;
    padding-right: 14px;
    border: 1px solid gray;
    padding-left: 14px;
    color:gray;
    margin-left: 7px;
 }
 .showMore{
     color: blue;
 }
 .addicon{
     position: relative;
     top: 6px;
     left: 8px;
 }
 .commentclas input[type="text"]{
    width: 390px;
    padding: 9px;
    margin-top: 13px;
    margin-right: 23px;
    margin-left: 15px;

 }
 .primaryBtn{
     width: 120px;
    height: 33px;
    margin-top: 15px;
    background-color: rgba(71, 177, 37, 0.88);
    color: white;
    border: none;
    font-size: 13px;
 }
 .para{
     position: relative;
     top:14px;
     left: 23px;
 }